.DS_Store
/node_modules

/ethereum/.DS_Store
/ethereum/node_modules

/app/.DS_Store

ML/.DS_Store

/app/build/
/app/*.pbxuser
/app/!default.pbxuser
/app/*.mode1v3
/app/!default.mode1v3
/app/*.mode2v3
/app/!default.mode2v3
/app/*.perspectivev3
/app/!default.perspectivev3
/app/xcuserdata
/app/*.xccheckout
/app/*.moved-aside
/app/DerivedData
/app/*.hmap
/app/*.ipa
/app/*.xcuserstate

/app/build/
/app/.idea
/app/.gradle
/app/local.properties
/app/*.iml

/app/node_modules/
/app/npm-debug.log
/app/yarn-error.log

/app/buck-out/
/app/\.buckd/
/app/*.keystore
/app/fastlane/report.xml
/app/fastlane/Preview.html
/app/fastlane/screenshots
/app/*.bak
/app/android/app/kittenTricks.jks
/app/*.orig
/app/.expo

/webapp/node_modules
